.title{
	clear: both;
	font-size: 140px;
	width: 1203px;
	margin: 20px 50px;
	color: green;
}
.user{
	font-size: 20px;
	color: blue;
	float: right;
	margin: 20px 50px;
}

table{
	font-size: 2em;
	float: left;
	min-width: 150px;
	min-height: 200px;
	margin: 20px 50px;
	padding: 0px 0px 0px 10px;
}

.storeName{
	color: blue;
	font-weight: bold;
}
.itemPrice{
	font-weight: bold;
	color: red;
}
.itemName{
	font-weight: bold;
}


.bottom{
	height: 90px;
	clear: both;
	width: 1203px;
	border: solid black 1px;
	margin: 20px 10px 0px 10px;
	float: left;
}
