.title{
	clear: both;
	font-size: 140px;
	width: 1203px;
	margin: 20px 50px;
	color: green;
}

.user{
	font-size: 20px;
	color: blue;
	float: right;
	margin: 20px 50px;
}

.store{
	margin: 20px;
}

.item{
	
}
.storeName{
	color: blue;
	font-weight: bold;
}

.itemPrice{
	font-weight: bold;
	color: red;
}

.itemName{
	font-weight: bold;
	width: 200px;
}

.bottom{
	height: 90px;
	clear: both;
	width: 1203px;
	border: solid black 1px;
	margin: 20px 10px 0px 10px;
	float: left;
}
