<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <style type="text/css">
    .label {text-align: right}
    .error {color: red}
  </style>
</head>
<body>
  	<h2>Add Item</h2>
  	<form method="post">
  		<table>
  			<tr>
  			<td class="label">
  				Item Name
  			</td>
  			<td >
  				<input type="text" name="itemname" value="{{itemname}}">
  			</td>
  			<td class="error">
  			  {{error_itemname}}
  			</td>
  			</tr>
  			
  			<tr>
  			<td class="label">
  				Store Name
  			</td>
  			<td >
  				<input type="text" name="storename" value="{{storename}}">
  			</td>
  			<td class="error">
  			  {{error_storename}}
  			</td>
  			</tr>
  			
  			<tr>
  			<td class="label">
  				Price
  			</td>
  			<td >
  				<input type="text" name="price" value="{{price}}">
  			</td>
  			<td class="error">
  			  {{error_price}}
  			</td>
  			</tr>
  		</table>
  		<input type="submit">
  	</form>
</body>
</html>