<html>
<head>
<title>MainPage!</title>
<link href="style.css" rel="stylesheet" type="text/css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script src="/mainpage.js"></script>
</head>
<body>

<div class=whole>

<div class="title">Yasai Check!</div>
<div class="user">user: {{user}}</div>

<input name="searchBar" type="text" value="apples"></input>
<button class="search">Search</button>

<div class="results">

{% for store in inventory %}

		<div class="{{store}} store">
			<span class="storeName">{{store}}:</span>
			
		{% for item in inventory[store] %}
	
			<span class="{{inventory[store][item]['name']}} item">
				<span class="itemName">{{inventory[store][item]['name']}}</span>
				<span class="itemPrice">{{inventory[store][item]['price']}}</span>			
			</span>
			
		{% endfor %}
	
		</div>
		
{% endfor %}

</div>

</div>

</body>
</html>
