<html>
<head>
<title>MainPage!</title>
<link href="style.css" rel="stylesheet" type="text/css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script src="/mainpage.js"></script>
</head>
<body>
<div class="title">Yasai Check!</div>
<div class="user">user: {{user}}</div>
<table>
{% for store in inventory %}
	<tr>
		<td class="storeName">{{store}}</td>
	</tr>
	
	{% for item in inventory[store] %}
		<tr>
		<td class="itemName">{{inventory[store][item]['name']}}</td>
		<td class="itemPrice">{{inventory[store][item]['price']}}</td>
		</tr>
	{% endfor %}
{% endfor %}
</table>

</body>
</html>
