<html>
<head>
<title>MainPage!</title>
<link href="style.css" rel="stylesheet" type="text/css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script src="/mainpage.js"></script>
</head>
<body>

<a href="/addstore">add store</a>
<a href="/additem">add item</a>

<div class=whole>

<div class="title">Yasai Check!</div>
<div class="user">user: {{user}}</div>

<div class="bar">
	<input name="searchBar" type="text" value="apples"></input>
	<button class="search">Search</button>
	<button class="input">enter prices</button>
</div>

<form method='post'>
<table>
        <tr>
          <td class="label">
            Store
          </td>
          <td>
            <input type="text" name="storeName">
          </td>
          <td class="error">
            {{error_store}}
          </td>
        </tr>
        <tr>
          <td class="label">
            Item Name
          </td>
          <td>
            <input type="text" name="itemName">
          </td>
          <td class="error">
            {{error_item}}
          </td>
        </tr>
        <tr>
          <td class="label">
            Price
          </td>
          <td>
            <input type="text" name="price">
          </td>
          <td class="error">
            {{error_price}}
          </td>
        </tr>
</table>
<input type="submit">
</form>


<div class="results">

{% for store in inventory %}

		<div class="{{store}} store">
			<span class="storeName">{{store}}:</span>
			
		{% for item in inventory[store] %}
	
			<span class="{{inventory[store][item]['name']}} item">
				<span class="itemName">{{inventory[store][item]['name']}}</span>
				<span class="itemPrice">{{inventory[store][item]['price']}}</span>			
			</span>
			
		{% endfor %}
	
		</div>
		
{% endfor %}

</div>

</div>

</body>
</html>
